@inject Grand.Services.Common.IGenericAttributeService genericAttributeService;
@inject Grand.Core.IWorkContext workContext;

<tabstrip-item text="sample" tab-index="7">
    <content>
        <div>
            Example Tab for category
        </div>
    </content>
</tabstrip-item>
